<div class="jumbotron">
  <h2>Welcome to our Tecorb-chat-room!</h2>
  <img src="/assets/chat-room.gif" width="100%"/>
  <p class="lead">Please sign in via Facebook to start chatting</p>
  <%#= link_to '', '/auth/twitter', class: 'social twitter' %>
  <%= link_to '', '/auth/facebook', class: 'social facebook' %>
</div>